# Docs : https://git-scm.com/book/en/v2/Git-Tools-Submodules

[submodule "torrent_search"]
	path = torrent_search
	url = https://github.com/KevinMidboe/torrent_search.git
	branch = master

[submodule "delugeClient"]
	path = delugeClient
	url = https://github.com/KevinMidboe/delugeClient.git
