{
	"database": {
		"host": "../shows.db"
	},
	"webserver": {
		"port": 31459
	},
	"tmdb": {
		"apiKey": ""
	},
	"plex": {
		"ip": ""
	},
	"raven": {
		"DSN": ""
	},
	"authentication": {
    "secret": "secret"
 	}
}
