{
  "database": {
    "host": "../shows.db"
  },
  "webserver": {
    "port": 31459,
    "origins": []
  },
  "tmdb": {
    "apiKey": ""
  },
  "plex": {
    "ip": ""
  },
  "tautulli": {
    "apiKey": "",
    "ip": "",
    "port": ""
  },
  "raven": {
    "DSN": ""
  },
  "authentication": {
    "secret": "secret"
  }
}
